<div class="flex h-screen">
  <img
    class="w-1/2 h-screen hidden md:block"
    src="https://1.bp.blogspot.com/-Zwh7wuXPjrs/XxmjBAFhr-I/AAAAAAAAG8Y/HPtDSCaECzo1Nh65SlQHxSllUE8VU9CKgCLcBGAsYHQ/d/HOUSE%2BIN%2BTHE%2BLAKE%2B.jpg"
  />
  <div class="w-full h-full flex items-center justify-center">
    <form
      class="flex gap-3 flex-col w-10/12 sm:w-9/12 md:w-7/12 rounded-md border-solid border-2 border-gray-300 bg-slate-200 shadow-md p-4"
      {{on "submit" this.onFormSubmit}}
    >
      <h2 class="text-center">{{@title}}</h2>
      {{yield}}
      {{#if @errorMessage}}
        <div class="text-red-700 text-xs">{{@errorMessage}}</div>
      {{else if @successMessage}}
        <div class="text-green-400 text-xs">{{@successMessage}}</div>
      {{/if}}
      <button
        type="submit"
        class="w-fit px-2 py-1 rounded-md self-center
          {{if
            @disabled
            'cursor-not-allowed bg-slate-200 text-gray-500'
            'cursor-pointer bg-slate-700 text-white'
          }}"
        disabled={{@disabled}}
      >{{@submitBtnText}}</button>
    </form>
  </div>

</div>