{{page-title (t 'title.add_property')}}
<RegistrationFormPage
  @title={{t 'title.add_property'}}
  @submitBtnText={{t 'title.add_property'}}
  @submitAction={{this.createRecord}}
  @successMessage={{this.successMessage}}
  @errorMessage={{this.errorMessage}}
  @disabled={{this.disabled}}
>
  <label>
      Title
    </label>
    <Input name="title" @value={{this.title}} />
    <label>
      Owner
    </label>
    <Input name="owner" @value={{this.owner}} />
    <label>
      City
    </label>
    <Input name="city" @value={{this.city}}/>
    <label>
      Location
    </label>
    {{!-- <Input name="location" @value={{this.location}} /> --}}
    <LocationFinder @setCoordinates={{this.setCoordinates}}/>
    {{#if (and this.location.lat this.location.lng)}}
      Selected Coordinates : {{this.location.lat}} : {{this.location.lng}}
    {{/if}}
    <label>
      Add Images via url
    </label>
    <Ui::ImageUrlCollector @onAddUrl={{this.addImageUrl}} @images={{this.imageUrls}}/>
    <label>Description
    </label>
    <Textarea name="description" @value={{this.description}} />
    <label>No. of Bedrooms
    </label>
    <select name="bedrooms" {{on 'change' this.setBedrooms}}>
      {{#each (range 0 10 true) as |bedroomCount|}}
        <option value={{bedroomCount}}>{{bedroomCount}}</option>
      {{/each}}
    </select>
    <label>Category
    </label>
    <select name="category" {{on 'change' this.setCategory}}>
      {{#each
        (array
          (hash key="disabled" name="Select--an--option")
          (hash key="condo" name="Condo")
          (hash key="apartment" name="Apartment")
          (hash key="office" name="Office Space")
        )
        as |category|
      }}
        <option value={{category.key}}>{{category.name}}</option>
      {{/each}}
    </select>
</RegistrationFormPage>